@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" ng-app ="MusicInstrumentsSpa">
    <div ng-view>

    </div>
</div>

@section Scripts {
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" type="text/javascript"></script>
<script src="https://code.angularjs.org/1.8.2/angular-route.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var app = angular.module('MusicInstrumentsSpa', ['ngRoute']);
    app.config(function ($routeProvider) {
        $routeProvider
            .when('/', {
                templateUrl: 'pages/index.html',
                controller: 'IndexController'
            })
            .when('/Users', {
                templateUrl: 'pages/users.html',
                controller: 'UsersController'
            })
            .when('/SignUp', {
                templateUrl: 'pages/registration.html',
                controller: 'RegisterController'
            })
            .when('/SignIn', {
                templateUrl: 'pages/login.html',
                controller: 'LoginController'
            })
            .otherwise({
                redirectTo: '/'
            })
    });
    app.controller('IndexController', ['$scope', '$http', function ($scope, $http) {
        $scope.message = "Welcome to the App. See the most recent products available!";
        $scope.products = [];
         $http.get("@Url.Action("GetProducts", "Products")").then(function (response) {
            $scope.products = response.data;
        })
    }]);
    app.controller('UsersController', ['$scope', '$http', function ($scope, $http) {
        $scope.users = [];
        $http.get("@Url.Action("GetUsers", "Users")").then(function (response) {
            $scope.users = response.data;
            $scope.users.forEach(function (user) {
                var date = new Date(user.dateOfBirth);
                var year = date.getFullYear();
                var month = date.getMonth();
                var day = date.getDate();
                user.dateOfBirth = `${day}/${month + 1}/${year}`;
            })
        })
    }]);
    app.controller('RegisterController', ['$scope', '$http', '$location', function ($scope, $http, $location) {
        $scope.user = {
            id: 0,
            firstName: '',
            lastName: '',
            phoneNumber: null,
            dateOfBirth: null,
            email: null,
            userName: '',
            password: ''
        }
        $scope.Register = function () {
            $http.post("@Url.Action("PostUser", "Users")", $scope.user).then(function (response) {
            $location.path('/Users')
                });
        }
    }])
    app.controller('LoginController', ['$scope', '$http', '$location', function ($scope, $http, $location) {
        $scope.loggedUser = {
            userName: '',
            password: ''
        }
    }])

</script>
}
