<div ng-if="!IsLogged">Sign in to add or edit products</div>
<div ng-if="IsLogged" class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <p>{{message}}</p>
            <label>
                Product name
                <input type="text" ng-model="product.productName" />
            </label>
            <label>
                Product description
                <input type="text" ng-model="product.productDescription" />
            </label>
            <label>
                Price
                <input type="number" ng-model="product.price" />
            </label>
            <label>
                Location
                <input type="tel" ng-model="product.location" />
            </label>
            <label>
                Manufacturer
                <select ng-options="m as m.manufacturerName for m in manufacturers track by m.manufacturerId" ng-model="manufacturerSelected" ng-change="onChange(manufacturerSelected.manufacturerId, 'manufacturerId')">
                    <option ng-if="!editMode" value="">Please select manufacturer</option>
                </select>
            </label>
            <label>
                Subcategory
                <select ng-options="p as p.subcategoryName for p in productSubcategories track by p.productSubcategoryId" ng-model="categorySelected" ng-change="onChange(categorySelected.productSubcategoryId, 'productSubcategoryId')">
                    <option ng-if="!editMode" value="">Please select subcategory</option>
                </select>
            </label>
            <label>
                Condition
                <select ng-options="c as c.condName for c in conditions track by c.condValue" ng-model="selectedCondition" ng-change="onChange(selectedCondition.condValue, 'condition')">
                    <option ng-if="!editMode" value="">Please select condition</option>
                </select>
            </label>
            <label ng-if="editMode">
                Status
                <select ng-options="s as s.statusName for s in statuses track by s.statusValue" ng-model="selectedStatus" ng-change="onChange(selectedStatus.statusValue, 'status')">
                </select>
            </label>
            <input type="button" ng-click="Save()" value="Save product" />
        </div>
    </div>
</div>