<h1>
    Welcome to MusicSpace! See the most recent products available!
</h1>
<div class="products">
    <div class="products__content" >
        <div ng-repeat="product in data.products" class="products__content_item">
            <div class="item__description">
                <div class="item_logo music_logo">{{product.productSubcategory.subcategoryName}}</div>
                <h2 class="item__title">
                    {{product.productName}}
                </h2>
                <h2 class="item__price">
                    {{product.price}}$
                </h2>
                <p class="item__details">
                    Published by: {{product.owner.firstName}} {{product.owner.lastName}} - {{product.datePublished}}
                </p>

            </div>
            <a class="button" href="#!/ProductDetails/{{product.productId}}">See details</a>
        </div>
    </div>
    <div class="products__filter">
        <h3 class="filter__title">Manufacturers</h3>
        <div class="filter__category">
            <label ng-repeat="manufacturer in data.manufacturers" class="input_container">
                {{manufacturer.manufacturerName}}
                <input type="radio" ng-model="filterParams.manufacturer" value="{{manufacturer.manufacturerId}}" ng-change="GetProducts()" />
                <span class="checkmark"></span>
            </label>
        </div>
        <h3 class="filter__title">Categories</h3>
        <div class="filter__category">
            <label ng-repeat="category in data.categories" class="input_container">
                {{category.categoryName}}
                <input type="radio" ng-model="filterParams.category" value="{{category.productCategoryId}}" ng-change="GetDataFromCategory()" />
                <span class="checkmark"></span>
            </label>
        </div>
        <h3 class="filter__title">Subcategories</h3>
        <div class="filter__category">
            <label ng-repeat="subcategory in data.subcategories" class="input_container">
                {{subcategory.subcategoryName}}
                <input type="radio" ng-model="filterParams.subcategory" value="{{subcategory.productSubcategoryId}}" ng-change="GetProducts()" />
                <span class="checkmark"></span>
            </label>
        </div>
            <input type="button" class="button" value="Clear filters" ng-click="Clear()" />
        </div>
    </div>

