<h2 class="title" ng-if="IsLogged">You are already signed in</h2>
<div ng-if="!IsLogged" class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 form">
            <h2 class="title">Sign in</h2>
            <p class="item__text font-weight-bold">{{message}}</p>
                <input type="text" placeholder="Username" class="input" ng-model="login.userName" />
                <input type="password" placeholder="Password" class="input" ng-model="login.password" />
            <input type="button" value="Sign in" class="button" ng-click="SignIn()" />
        </div>
    </div>
</div>