<p ng-if="IsLogged">You are already signed in</p>
<div ng-if="!IsLogged" class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <p>{{message}}</p>
            <label>
                Username
                <input type="text" ng-model="login.userName" />
            </label>
            <label>
                Password
                <input type="password" ng-model="login.password" />
              
            </label>
            <input type="button" ng-click="SignIn()" />
        </div>
    </div>
</div>