<h2 class="item__text">{{message}}</h2>
<div ng-if="IsLogged">
    <h2 class="user__details_title">My products</h2>
    <a class="button col-md-2" href="#!/AddProduct" type="button">Add product</a>
    <div class="user__details_products">
        <div ng-repeat="product in products" class="products__content_item details">
            <div class="item__description">
                <div class="item_logo music_logo">{{product.productSubcategory.subcategoryName}}</div>
                <h2 class="item__title">
                    {{product.productName}}
                </h2>
                <h2 class="item__price">
                    {{product.price}}$
                </h2>
                <p class="item__text"><span>Description: </span> {{product.productDescription}}</p>
                <p class="item__text"><span>Condition: </span> {{product.condition}}</p>
                <p class="item__text"><span>Status: </span> {{product.status}}</p>
                <p class="item__text"><span>Location: </span> {{product.location}}</p>
                <p class="item__text"><span>Manufacturer: </span> {{product.manufacturer.manufacturerName}}</p>
                <p class="item__details ml-auto">
                    Published: {{product.datePublished}}
                </p>

            </div>
            <div>
                <a class="button" href="#!/EditProduct/{{product.productId}}">Modify</a>
                <input class="button btn-danger" type="button" ng-controller="DeleteProductController" ng-click="Delete($parent.product)" value="Delete" />
            </div>
        </div>
    </div>
</div>
