
<p ng-if="!DisplayForm" class="title">{{info}}</p>
<div ng-if="DisplayForm" class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 form">
            <h2 class="title">{{mode}}</h2>
            <p class="item__text font-weight-bold">{{message}}</p>
            <input class="input" placeholder="First name" type="text" ng-model="user.firstName" />
            <input class="input" placeholder="Last name" type="text" ng-model="user.lastName" />
            <label class="item__text">
                Birthday:
                <input class="input" type="date" ng-model="user.dateOfBirth" />
            </label>
            <input class="input" placeholder="Contact number" type="tel" ng-model="user.phoneNumber" />
            <input class="input" placeholder="Email" type="email" ng-model="user.email" />
            <input class="input" placeholder="Username" type="text" ng-model="user.userName" />
            <input class="input" placeholder="Password" type="password" ng-model="user.password" />
            <input type="button" class="button" value="{{mode}}" ng-click="Save()" />
        </div>
    </div>
</div>


   