
<h2 class="item__text">{{message}}</h2>
<div ng-if="user">
    <div class="products__content_item user__details details col-lg-6">
        <h2 class="product__details_title">{{user.firstName}} {{user.lastName}}</h2>
        <p class="item__text"><span>Birthday:</span> {{user.dateOfBirth}}</p>
        <p class="item__text"><span>Email:</span> {{user.email}}</p>
        <p class="item__text"><span>Username:</span> {{user.userName}}</p>
        <p class="item__text"><span>Phone number:</span> {{user.phoneNumber}}</p>
        <div class="user_details">
            <a class="button" href="tel:{{product.owner.phoneNumber}}">Call</a>
            <a class="button" href="mailto:{{product.owner.email}}">Email</a>
        </div>
    </div>
    <h2 class="user__details_title">Products</h2>
    <div class="user__details_products">
        <div ng-repeat="product in products" class="products__content_item details">
            <div class="item__description">
                <div class="item_logo music_logo">{{product.productSubcategory.subcategoryName}}</div>
                <h2 class="item__title">
                    {{product.productName}}
                </h2>
                <h2 class="item__price">
                    {{product.price}}$
                </h2>
                <p class="item__text"><span>Description: </span> {{product.productDescription}}</p>
                <p class="item__text"><span>Condition: </span> {{product.condition}}</p>
                <p class="item__text"><span>Status: </span> {{product.status}}</p>
                <p class="item__text"><span>Location: </span> {{product.location}}</p>
                <p class="item__text"><span>Manufacturer: </span> {{product.manufacturer.manufacturerName}}</p>
                <p class="item__details ml-auto">
                    Published: {{product.datePublished}}
                </p>
            </div>
        </div>
    </div>
</div>